In [12]:
import numpy as np
import pandas as pd
import matplotlib as plt

## QUESTION 1

In [13]:
#How do you create an identity matrix?

In [14]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [15]:
var_name = pd.read_csv("fuel_ferc1.csv")

In [16]:
var_name.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

## QUESTION 5

In [17]:
#what year has the highest average fuel cost per unit delivered?

In [ ]:
#groupby function can be used to combine the year and the fuel cost delivered
#to get the average cost delivered per year, we will have to find the mean
#do some sorting from highest to lowest
var_name.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

## QUESTION 2

In [19]:
#Percentage change in fuel cost per unit burned in 1998 compsred to 1994

In [20]:
yearly_cost = var_name.groupby(['report_year', 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()

In [21]:
year_1994, year_1998 = yearly_cost.loc[[1994, 1998], 'coal']

In [22]:
percent_change = ((year_1998 - year_1994)/ year_1994) * 100

percent_change

-20.56765451826049

## QUESTION 3

In [23]:
# features with the second and third lowest correlation

In [24]:
var_name.corr().loc['fuel_cost_per_unit_burned'].abs().sort_values()

fuel_cost_per_mmbtu             0.000437
fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_qty_burned                 0.018535
utility_id_ferc1                0.037863
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

#### fuel_mmbtu_per_unit  and fuel_cost_per_unit_delivered

## QUESTION 9

In [25]:
#lowest average fuel cost per unit burned

In [26]:
var_name.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

##### Gas has the lowest

## QUESTION 8

In [27]:
#standard deviation and 75th percentile

In [28]:
std_deviation = var_name['fuel_mmbtu_per_unit'].std()
print('the standard deviation is: ' + str(std_deviation))

the standard deviation is: 10.600220307806886

In [29]:
percentile = var_name['fuel_mmbtu_per_unit'].quantile(q=0.75, interpolation='linear')
print('the 75% quantile is:' + str(percentile))

the 75% quantile is:17.006

## QUESTION 7

In [30]:
# Skewness and Kurtosis

In [31]:
var_name['fuel_qty_burned'].skew()

15.851495469109503

In [32]:
var_name['fuel_qty_burned'].kurt()

651.3694501337732